[Unit]
Description=UWBP Backend Server
Wants=NetworkManager.service
After=dbus.service NetworkManager.service

[Service]
Type=simple
WorkingDirectory=/opt/uwbp/server
ExecStart=/opt/uwbp/server/uwbp_server
Restart=always
RestartSec=5

User=root

[Install]
WantedBy=multi-user.target
